#home-wrapper{
    background-color: #efefef;
  
  }
  #nav-wrapper{
    background-color:rgba(72, 86, 95, 0.472);
    
  }
    .info-container{
      width: 85%;
    margin: 0 auto;
    padding: 4rem 0;
    }
    .home-grid {
      display:flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-bottom: 5rem;
  }
  .home-grid__img{
      flex-basis: 40%;
      
  }
  .home-grid__img img{
      max-width: 100%;
      display: block;
      height: auto;
      margin: 0 auto;
  }
  .home-grid__text{
      flex-basis: 50%;
      align-self: center;
  }
  
  .info__text--smallTitle {
  
    font-size: 1.125rem;
    line-height: 1.4375rem;
    color: #000000;
    margin-bottom: 15px;
  }
  
  .info__text--bigTitle {
    font-size: 2.25rem;
    line-height: 2.8125rem;
    line-height: 45px;
    color: #333333;
    margin-bottom: 30px;
  }
  
  .grid-reverse{
    flex-flow: row-reverse;
  }

  @media only screen and (max-width:900px) {
    .home-grid{
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .info__text--smallTitle {
      margin-bottom: .5rem;
    }
    .info__text--bigTitle {
      font-size: 1.8rem;
      margin-bottom: .5rem;
    }
  
    .home-grid__img {
        text-align: center;
        margin-bottom: 2rem; 
    }
  
    .home-grid__text {
        text-align: center;
        margin-bottom: 2rem;
    }
 
  p{
    line-height: 1.5rem;
  }
 
  }
